BODY {
	SCROLLBAR-FACE-COLOR: #a6a6a6; FONT-SIZE: 9pt; SCROLLBAR-SHADOW-COLOR: #808080; COLOR: #1b1b1b; LINE-HEIGHT: 130%; SCROLLBAR-ARROW-COLOR: #ff0000; FONT-STYLE: normal; SCROLLBAR-DARKSHADOW-COLOR: white; SCROLLBAR-BASE-COLOR: #a6a6a6; TEXT-DECORATION: none; scrollbar-hightlight-color: EDF5FE
}
TD {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 130%; FONT-STYLE: normal; FONT-FAMILY: "??"
}
.index_notice {
	FONT-SIZE: 9pt; COLOR: #333333; LINE-HEIGHT: 130%; FONT-STYLE: normal; FONT-FAMILY: "MS PGothic"; TEXT-DECORATION: none
; font-weight: normal
}
.index_notice:link {
	FONT-SIZE: 9pt; COLOR: #d0d0d0; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.index_notice:visited {
	FONT-SIZE: 9pt; COLOR: #d0d0d0; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.index_notice:hover {
	FONT-SIZE: 9pt; COLOR: #9deeff; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: underline
}
.index_spot {
	FONT-SIZE: 10pt; COLOR: #0066CC; LINE-HEIGHT: 120%; FONT-STYLE: normal; FONT-FAMILY: "MS PGothic"; TEXT-DECORATION: none
; font-weight: bold
}
.index_spot:link {
	FONT-SIZE: 9pt; COLOR: #ffde00; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.index_spot:visited {
	FONT-SIZE: 9pt; COLOR: #ffde00; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.index_spot:hover {
	FONT-SIZE: 9pt; COLOR: #9deeff; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: underline
}
.regis {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; HEIGHT: 15pt; TEXT-DECORATION: none
}
.member {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; TEXT-DECORATION: none
}
.ffffff {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.ffffff:link {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.ffffff:visited {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.ffffff:hover {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: underline
}
.poll_title {
	FONT-SIZE: 9pt; COLOR: #ffe400; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.poll {
	FONT-SIZE: 8pt; COLOR: #c9c9c9; LINE-HEIGHT: 110%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.poll_contents {
	FONT-SIZE: 9pt; COLOR: #d0d0d0; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.comm_link {
	FONT-SIZE: 8pt; COLOR: #204361; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.comm_link:link {
	FONT-SIZE: 8pt; COLOR: #204361; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.comm_link:visited {
	FONT-SIZE: 8pt; COLOR: #204361; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.comm_link:hover {
	FONT-SIZE: 8pt; COLOR: #204361; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: underline
}
.link {
	FONT-SIZE: 9pt; COLOR: #3c3c3c; LINE-HEIGHT: 120%; FONT-STYLE: normal; FONT-FAMILY: "MS PGothic"; text-decoration: none
}
.link:link {
	FONT-SIZE: 9pt; COLOR: #3c3c3c; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.link:visited {
	FONT-SIZE: 9pt; COLOR: #3c3c3c; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.link:hover {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: underline
}
.skill_link {
	FONT-SIZE: 9pt; COLOR: #476a00; LINE-HEIGHT: 120%; FONT-STYLE: normal; FONT-FAMILY: "MS PGothic"; TEXT-DECORATION: none
}
.skill_link:link {
	FONT-SIZE: 9pt; COLOR: #476a00; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.skill_link:visited {
	FONT-SIZE: 9pt; COLOR: #476a00; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.skill_link:hover {
	FONT-SIZE: 9pt; COLOR: #660000; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: underline
}
.select {
	BORDER-RIGHT: #8fb3de 1px solid; BORDER-TOP: #8fb3de 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #8fb3de 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #8fb3de 1px solid; HEIGHT: 15pt; BACKGROUND-COLOR: #003c86
}
.selectCum {
	BORDER-RIGHT: #8fb3de 1px solid; BORDER-TOP: #8fb3de 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #8fb3de 1px solid; COLOR: #000000; BORDER-BOTTOM: #8fb3de 1px solid; HEIGHT: 15pt; BACKGROUND-COLOR: #fafeff
}
.selectCumArea {
	BORDER-RIGHT: #8fb3de 1px solid; BORDER-TOP: #8fb3de 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #8fb3de 1px solid; COLOR: #000000; BORDER-BOTTOM: #8fb3de 1px solid; BACKGROUND-COLOR: #ffffff
}
.selectCus {
	BORDER-RIGHT: #797979 1px solid; BORDER-TOP: #797979 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #797979 1px solid; COLOR: #204361; BORDER-BOTTOM: #797979 1px solid; HEIGHT: 15pt; BACKGROUND-COLOR: #ffffff
}
.selectCusArea {
	BORDER-RIGHT: #bd006b 1px solid; BORDER-TOP: #bd006b 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #bd006b 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #bd006b 1px solid; BACKGROUND-COLOR: #da57c3
}
.selectAcc {
	BORDER-RIGHT: #d29ce0 1px solid; BORDER-TOP: #d29ce0 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #d29ce0 1px solid; COLOR: #000000; BORDER-BOTTOM: #d29ce0 1px solid; HEIGHT: 15pt; BACKGROUND-COLOR: #F9F1E3; font-weight: bold
}
.selectAccArea {
	BORDER-RIGHT: #d29ce0 1px solid; BORDER-TOP: #d29ce0 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #d29ce0 1px solid; COLOR: #000000; BORDER-BOTTOM: #d29ce0 1px solid; BACKGROUND-COLOR: #fcfaff
}
.selectSpot {
	BORDER-RIGHT: #c10000 1px solid; BORDER-TOP: #c10000 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #c10000 1px solid; COLOR: #000000; BORDER-BOTTOM: #c10000 1px solid; HEIGHT: 15pt; BACKGROUND-COLOR: #fff4f6
}
.selectSearch {
	BORDER-RIGHT: #595959 1px solid; BORDER-TOP: #595959 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #595959 1px solid; COLOR: #e1e1e1; BORDER-BOTTOM: #595959 1px solid; HEIGHT: 15pt; BACKGROUND-COLOR: #303030
}
.select2 {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: 1px solid; COLOR: #2d2d2d; BORDER-BOTTOM: 1px solid; 
}
.select3 {
	FONT-SIZE: 9pt; COLOR: #ffffff; BACKGROUND-COLOR: #da57c3
}
.selectBbs {
	BORDER-RIGHT: #8fb3de 1px solid; BORDER-TOP: #8fb3de 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #8fb3de 1px solid; COLOR: #204361; BORDER-BOTTOM: #8fb3de 1px solid; HEIGHT: 15pt; BACKGROUND-COLOR: #ffffff
}
.selectSearch {
	BORDER-RIGHT: #8fb3de 1px solid; BORDER-TOP: #8fb3de 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #8fb3de 1px solid; COLOR: #204361; BORDER-BOTTOM: #8fb3de 1px solid; HEIGHT: 15pt; BACKGROUND-COLOR: #ffffff
}
.selectBbsArea {
	BORDER-RIGHT: #8fb3de 1px solid; BORDER-TOP: #8fb3de 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #8fb3de 1px solid; COLOR: #204361; BORDER-BOTTOM: #8fb3de 1px solid; BACKGROUND-COLOR: #ffffff
}
.BbsAdmin {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.BbsAdmin:link {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.BbsAdmin:visited {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.BbsAdmin:hover {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.Bbs {
	FONT-SIZE: 9pt; COLOR: #204361; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.Bbs:link {
	FONT-SIZE: 9pt; COLOR: #204361; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.Bbs:visited {
	FONT-SIZE: 9pt; COLOR: #204361; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.Bbs:hover {
	FONT-SIZE: 9pt; COLOR: #204361; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.BbsMenu {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.BbsMenu:link {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.BbsMenu:visited {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.BbsMenu:hover {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.Spot {
	FONT-SIZE: 10pt; COLOR: #006699; LINE-HEIGHT: 120%; FONT-STYLE: normal; FONT-FAMILY: "MS PGothic"; TEXT-DECORATION: none
; font-weight: bold
}
.Spot:link {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.Spot:visited {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.Spot:hover {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 130%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.SpotDate {
	FONT-SIZE: 9pt; COLOR: #ff6300; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.SpotCon {
	FONT-SIZE: 9pt; COLOR: #3c3c3c; LINE-HEIGHT: 120%; FONT-STYLE: normal; FONT-FAMILY: "MS PGothic"; TEXT-DECORATION: none
}
.ItemMenu {
	FONT-SIZE: 9pt; COLOR: #434342; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.Item {
	FONT-SIZE: 9pt; COLOR: #860601; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.event {
	FONT-SIZE: 9pt; COLOR: #1f2d0b; LINE-HEIGHT: 115%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.event_under {
	FONT-SIZE: 9pt; COLOR: #990000; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: underline
}
.Mix {
	FONT-SIZE: 9pt; COLOR: #284601; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.graphic {
	FONT-SIZE: 9pt; COLOR: #585858; LINE-HEIGHT: 120%; FONT-STYLE: normal; FONT-FAMILY: "MS PGothic"; TEXT-DECORATION: none
}
.graphic:link {
	FONT-SIZE: 9pt; COLOR: #585858; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.graphic:visited {
	FONT-SIZE: 9pt; COLOR: #585858; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.graphic:hover {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.sitemap {
	FONT-SIZE: 9pt; COLOR: #402b00; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.sitemap:link {
	FONT-SIZE: 9pt; COLOR: #402b00; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.sitemap:visited {
	FONT-SIZE: 9pt; COLOR: #402b00; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
.sitemap:hover {
	FONT-SIZE: 9pt; COLOR: #bc0000; LINE-HEIGHT: 120%; FONT-STYLE: normal; TEXT-DECORATION: none
}
